@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

html,
body {
  text-align: center;
  background-color: #171717;
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  color: #aaa;
  font-size: 0.925rem;
  max-width: 40rem;
  display: inline-block;
  text-align: left;
}

button {
  border: none;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  font-size: 0.925rem;
  border-radius: 0.25rem;
  padding: 8px 10px;
}

button:focus {
  outline: #444 0.3rem solid;
}

* {
  font-family: "Roboto", system-ui, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

main {
  margin-top: 6rem;
}

nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 4rem;
  background-color: #111;
}

nav div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div section {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav div section button i {
  margin-right: 0.4rem;
}

nav div section img {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  transition: 0.2s ease;
}

nav div section img:active {
  transform: scale(0.9);
}